<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<section layout:fragment="bodyContent">
<h2>Назначить пользователей на задачу: <span th:text="${task.title}"></span></h2>

<form th:action="@{/tasks/assign}" method="post">
    <input type="hidden" name="taskId" th:value="${task.id}" />

    <label>Выберите пользователей:</label><br/>
    <select name="userIds" multiple size="5">
        <option th:each="user : ${users}"
                th:value="${user.id}"
                th:text="${user.username}"
                th:selected="${task.assignees.contains(user)}">
        </option>
    </select><br/><br/>

    <button type="submit">Назначить</button>
</form>

<a th:href="@{/projects/{projectId}(projectId=${task.project.id})}">Назад к проекту</a>
</section>
</body>
</html>