<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Создание задачи</title>
</head>
<body>
<section layout:fragment="bodyContent">
<h2>Создание задачи</h2>

<form th:action="@{/tasks/create}" th:object="${task}" method="post">

    <input type="hidden" th:value="${projectId}" name="projectId" />

    <label>Заголовок задачи:
        <input type="text" th:field="*{title}" />
    </label><br/>
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red;"></span><br/>

    <label>Описание задачи:
        <textarea th:field="*{description}"></textarea>
    </label><br/>
    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red;"></span><br/>

    <label>Приоритет задачи:
        <select th:field="*{priority}">
            <option th:each="p : ${priorities}" th:value="${p}" th:text="${p}"></option>
        </select>
    </label><br/>
    <span th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}" style="color: red;"></span><br/>

    <label>Статус задачи:
        <select th:field="*{status}">
            <option th:each="s : ${statuses}" th:value="${s}" th:text="${s}"></option>
        </select>
    </label><br/>
    <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}" style="color: red;"></span><br/>

    <label>Дедлайн задачи:
        <input type="date" th:field="*{deadline}" />
    </label><br/>
    <span th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}" style="color: red;"></span><br/>

    <button type="submit">Создать</button>
</form>

<a th:href="@{/projects/{projectId}(projectId=${projectId})}">Назад к проекту</a>
</section>
</body>
</html>