<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вход</title>
</head>
<body>
<h2>Авторизация</h2>

<div th:if="${param.error}">
    <p style="color:red;">Неверное имя пользователя или пароль</p>
</div>
<div th:if="${param.registered}">
    <p style="color:green;">Регистрация прошла успешно! Войдите в систему.</p>
</div>
<div th:if="${success}">
    <p style="color:green;" th:text="${success}"></p>
</div>

<form th:action="@{/auth/login}" method="post">
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username"><br><br>

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password"><br><br>

    <button type="submit">Войти</button>
</form>

<p>Нет аккаунта? <a th:href="@{/auth/register}">Зарегистрироваться</a></p>
</body>
</html>